<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-title>
            Pok&eacute;dex
          </ion-title>
        </ion-item>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-searchbar class="searchbar" (ionChange)="updateFilter($event)" showCancelButton="never"
          placeholder="Search for a Pok&eacute;mon by name or order"></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col [sizeLg]=3 [sizeMd]=6 [sizeSm]=6 [sizeXs]=6 *ngFor="let row of rows">
        <ion-card (click)="goToDetails(row?.name)" [ngClass]="row.type">
          <ion-item lines="none">
            <ion-badge>{{'# ' + (row.index | number:'3.0')}}</ion-badge>
          </ion-item>
          <ion-item lines="none">
            <ion-label class="name">{{row.name}}</ion-label>
          </ion-item>
          <ion-card-content>
            <ion-img [src]="row.avatar"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <ion-button (click)="back()" mode="ios" [disabled]="!previousUrl" fill="clear">
          <ion-icon class="chevron" name="chevron-back-circle"></ion-icon>
        </ion-button>
        <ion-button (click)="next()" mode="ios" [disabled]="!nextUrl" fill="clear">
          <ion-icon class="chevron" name="chevron-forward-circle"></ion-icon>
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>